html{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.toolbar{
    background-color: #385778;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.toolbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;  
    padding-right: 20px;
    height: 100%; 
    display: flex;
    align-items: center; 
}

.toolbar a:hover{
    background-color: rgb(146, 146, 146);
}

.header{
    width: 100%;
    height: 450px;

}
.welcome{
    right: 27%;
    position: absolute;
    color: white;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 450px;
}
.header img{
    width: 100%;
    height: 100%;
}

#welcome{
    font-size:80px;
    color: black;
    top: 17px;


}

#imgHeader{
    opacity: 0.75;
    min-width: 10%;
    min-height: 10%;
    width: auto;
    height: auto;
}

.input-section{
    background-color:#84a4c7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    display: flex;
    top: 100px;
    position: relative;
    justify-content: space-evenly;
}
.input-group{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.inputs {
    display:block;
    position: relative;
    border: solid 1px white;
    border-radius: 5rem;
    /* background: white; */
    padding: 1.5rem;
    color: black;
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 30px;
    caret-color: #fc466b ;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 325px ;

}

.inputs::selection{
    color: white;
    background-color: #fc466b;
}

#orel1{
    background-image: url("pic/id.png");

}

#orel2{
    background-image: url("pic/smartphone.png");
}

#orel3{
    background-image: url("pic/smartphone2.png");
}

.btnSend{
    background-color: #fc4646;
}

.labels{

    border-radius: 1rem;
    /* background: #020e26; */
    display:block;
    position: relative;
    left: 25px;
    color: black ;
    pointer-events: none;
    transform: translateY(-5.2rem);
    transition: 150ms;
    
}

.inputs :focus{
    outline: none;
    border: 10px solid;
    border-color:#fc4646 ;
}

.inputs:focus ~ label{
    transform: translateY(-9.5rem);
    /* background-color: white; */
    padding: 0 0.25em;
    color: rgb(44,157,157);
    font-size: 300%;

}

.btn{
    margin-top: 200px;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color:#385778;
    color: white;
    font-size: 35px;
    box-shadow: 1px 4px 18px 10px rgba(0,0,0,0.24);
}

.btn:hover{
    background-color:#304862;
    cursor: pointer;
}

#btnSend{
    top: 5em;
    position: relative;
    padding: 1em 3em;
    color: rgb(110,237,237);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 0.5em (110, 237 ,237);
    background-color: rgb(44,157,157);
    border: 0.25em solid rgb(110,237,237);
    border-radius: 1em;
    box-shadow: 0 0 1em 0.25em rgb(110,237,237), 
                0 0 4em 1em 0.25em rgb(110, 237 ,237)
                inset 0 0 0.75em 0.25em rgb(110, 237 ,237);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}
#btnSend:hover{
    color: #fc4646;
    background-color: rgb(110, 237 ,237);
    box-shadow: 0 0 1em 0.25em rgb(110, 237 ,237),
                0 0 4em 2em rgba(65, 243, 243, 0.781),
                inset 0 0 0.5em 0.25em rgb(110, 237 ,237);
}

#btnSend::after{
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    background-color: rgba(65, 243, 243, 0.781);
    filter: blur(2em);
    opacity: 0.7;
    pointer-events: none;
    transform: perspective(1.5em)
        rotateX(35deg)
        scale(1, 0.6);
}

#btnSend:active{
    box-shadow: 0 0 0.6em 0.25em rgb(110,237,237),
                0 0 2.5em 2em rgba(65, 243, 243, 0.781),
                inset 0 0 0.5em 0.25em rgb(110, 237, 237)
}

.styled-table {
    top: 10em;
    position: relative;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 1.5em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.styled-table thead tr {
    background-color: #009879;
    color: black;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: black;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}